<div class="col-md-4">
  <img src="{{user.avatar}}" alt="avatar" class="rounded-circle" width="200" height="200">
  <h1 class="mt-3">{{user.name}}</h1>
  <p class="mt-3">
    <i class="fa-solid fa-earth-americas me-2"></i>{{user.nation}}
  </p>

  {{#if user.isTeacher}}
  {{#if averageScore}}
  <div class="d-flex align-items-center">
    <i class="fa-solid fa-heart me-2" style="color: #ff4d4d;"></i>
    <spam>{{averageScore}}</span>
  </div>
  {{else}}
  <div class="d-flex align-items-center">
    <i class="fa-solid fa-heart me-2" style="color: #ff4d4d;"></i>
    <span>There is no score yet.</span>
  </div>
  {{/if}}
  {{/if}}

  <h5 class="mt-3">About Me</h5>
  <p class="mt-3">{{user.introduction}}</p>

  {{!-- Edit Button --}}
  {{#if user.isTeacher}}
  <a href="/users/{{user.id}}/edit"><button class="btn btn-primary mt-3">Edit Profile </button></a>
  <a href="/availabilities"><button class="btn btn-primary mt-3">Edit Available Times</button></a>
  {{else}}
  <a href="/users/{{user.id}}/edit"><button class="btn btn-primary mt-3">Edit Profile</button></a>
  {{/if}}

</div>