<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-9">

      {{> messages}}

      <!-- Search Bar -->
      <form action="/teachers" method="GET" class="d-flex col-9">
        <div class="input-group row ms-4 mb-4">
          <input type="text" name="keyword" class="form-control col-auto"
            placeholder="Search Teacher's Name or Nation here..." aria-label="Searching Teacher..." value="{{keyword}}"
            aria-describedby="search-button">
          <div class="input-group-append col-auto">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>

      <!-- Teacher cards area -->
      {{#if teachers}}
      <div class="row">
        {{#each teachers}}
        <div class="col-md-4 mb-4">
          <a href="/teachers/{{this.teacher.id}}" class="card border-primary h-100 d-flex">
          <div class="card border-primary h-100 d-flex">
            <div class="d-flex align-items-center p-3">
              <div>
                <img src="{{this.avatar}}" class="rounded-circle" alt="Teacher image" width="80" height="80">
              </div>
              <div class="ms-3" style="min-width: 0;"> {{!-- 使父元素中的子元素不會超過父元素 --}}
                <h5 class="card-title mb-1 text-truncate">{{this.name}}</h5> {{!-- 讓文本在超出容器寬度時出現省略號（...） --}}
                <p class="card-text mb-0 text-truncate">{{this.nation}}</p>
              </div>
            </div>
            <div class="card-body d-flex flex-column">
              <p class="card-text">{{this.teacher.lessonDescription}}</p>
            </div>
          </div>
          </a>
        </div>
        {{/each}}
      </div>
      {{else}}
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>No teachers found.</h3>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</div>

{{!-- Pagination --}}
<div class="d-flex justify-content-center mb-5">
  <ul class="pagination">

    {{!-- Previous Button --}}
    <form action="/teachers" method="GET" class="d-flex">
      <li class="page-item me-2">
        <button type="submit" class="btn btn-secondary {{#ifCond pagination.page 1}}disabled{{/ifCond}}">Previous
          <input type="hidden" name="page" value="{{pagination.prev}}">
          <input type="hidden" name="keyword" value="{{keyword}}">
        </button>
      </li>
    </form>

    {{!-- Pages --}}
    {{#each pagination.pages}}
    <form action="/teachers" method="GET" class="d-flex">
      <li class="page-item page-button me-2">
        <button type="submit" class="btn btn-primary {{#ifCond this ../pagination.page}}disabled{{/ifCond}}">{{this}}
          <input type="hidden" name="page" value="{{this}}">
          <input type="hidden" name="keyword" value="{{../keyword}}">
        </button>
      </li>
    </form>
    {{/each}}

    {{!-- Next Button --}}
    <form action="/teachers" method="GET" class="d-flex">
      <li class="page-item">
        <button type="submit"
          class="btn btn-secondary {{#ifCond pagination.page pagination.totalPages}}disabled{{/ifCond}}">Next
          <input type="hidden" name="page" value="{{pagination.next}}">
          <input type="hidden" name="keyword" value="{{keyword}}">
        </button>
      </li>
    </form>

  </ul>
</div>