<div class="container mt-4">
  <div class="row">

    <!-- The left side of the page -->
    <div class="col-md-6">
      <div class="mb-3 d-flex">
        <img src="{{teacher.user.avatar}}" class="rounded" alt="Teacher-Image" width="250" height="250">
        <div class="ms-5">
          <h1>{{teacher.user.name}}</h1>
          <p>{{teacher.user.nation}}</p>
          {{#if averageScore}}
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-heart me-2" style="color: #ff4d4d;"></i>
            <spam>{{averageScore}}</span>
          </div>
          {{else}}
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-heart me-2" style="color: #ff4d4d;"></i>
            <span>There is no score yet.</span>
          </div>
          {{/if}}
        </div>
      </div>

      <!-- The middle of the page -->
      <div>
        <h3>Introduction</h3>
        <p>{{teacher.user.introduction}}</p>

        <h3>Teaching Style</h3>
        <p>{{teacher.teachingStyle}}</p>

        <h3>Lesson History</h3>
        {{#each teacher.appointments}}
        {{#if this.review}}
        <p><span class="bg-warning px-1">{{this.review.score}}</span> {{this.review.message}}</p>
        {{/if}}
        {{/each}}
      </div>

    </div>



    <!-- The right side of the page -->
    <div class="col-md-6">
      <form action="/users/appointment" method="POST">
        <div class="bg-light p-3">
          <h4>Make an appointment</h4>
          {{#if hasAvailableSlots}}
          <!-- Choose Date and Time -->
          {{#each processedAvailabilities}}
          <h3>{{@key}}</h3>
          <select name="selectedTime[{{@key}}]" class="form-select mb-2" id="dateSelect">
            <option value="" selected>Choose Time</option>
            {{#each this}}
            <option value="{{start}} - {{end}}">{{start}} - {{end}}</option>
            {{/each}}
          </select>
          {{/each}}
          <input type="hidden" name="teacherId" value="{{teacher.id}}">
          <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#appointmentModal">Submit</button>
          {{else}}
          <p class="badge bg-dark fs-6 mt-3">No Available Times</p>
          {{/if}}
        </div>
      </form>
    </div>

  </div>


</div>


<!-- Appointment Modal -->
{{#if success_msg}}
<div class="modal show" id="appointmentModal" tabindex="-1" style="display: block;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border border-5 border-success-subtle">
      <div class="modal-header border-bottom border-5 border-success-subtle">
        <h4 class="modal-title">{{success_msg}}</h4>
      </div>
      <div class="modal-body fs-4">
        <h4>Below is your appointment information :</h4>
        <p>Teacher: {{teacher.user.name}}</p>
        <p>Date: {{appointment.date}}</p>
        <p>Time: {{appointment.startTime}} - {{appointment.endTime}}</p>
        <p>Video Link: {{teacher.videoLink}}</p>
      </div>
      <div class="modal-footer">
        <a href="/teachers/{{teacher.id}}" class="btn btn-secondary">OK</a>
      </div>
    </div>
  </div>
</div>
{{/if}}


{{#if error_msg}}
<div class="modal show" id="appointmentModal" tabindex="-1" style="display: block;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border border-5 border-danger-subtle">
      <div class="modal-header border-bottom border-5 border-danger-subtle">
        <h4 class="modal-title">Failed to create appointment!</h4>
      </div>
      <div class="modal-body fs-4">
        <p>{{error_msg}}</p>
      </div>
      <div class="modal-footer">
        <a href="/teachers/{{teacher.id}}" class="btn btn-secondary">OK</a>
      </div>
    </div>
  </div>
</div>
{{/if}}