{{> messages}}

<div class="container mt-5">
  <div class="row">
    {{!-- User Information --}}
    {{> profile-left-column}}

    <div class="col-md-8">
      <div class="mb-3 d-flex justify-content-between align-items-center">
        <h2>New Schedule</h2>

        {{!-- See All Schedule Button --}}
        <a href="/users/{{user.id}}/schedule" class="btn btn-secondary">See All Schedule</a>

      </div>

      <div class="row mb-4">

        {{!-- Each Appointment --}}
        <p>Here are the latest 4 appointments with status of pending or confirmed.</p>
        {{#if pendingConfirmedAppointments}}
        {{#each pendingConfirmedAppointments}}
        <div class="col-md-6 mb-3">
          <div class="border p-2 h-100">
            <p class="mb-0">Date: {{this.date}}</p>
            <p class="mb-0">Times: {{this.startTime}} - {{this.endTime}}</p>
            <p class="mb-0">Teacher's Name:
              <a href="/teachers/{{this.teacher.id}}">{{this.teacher.user.name}}</a>
            </p>
            <p class="mb-0">Lesson Link:
              <a href="{{this.teacher.videoLink}}">{{this.teacher.videoLink}}</a>
            </p>

            {{> lesson-status appointment=this}}

            {{> appointment-button appointment=this user=../user}}

          </div>
        </div>
        {{/each}}

        {{else}}
        <div class="col-md-6 mb-3">
          <div class="border p-2">
            <p class="mb-0">No schedule found.</p>
          </div>
        </div>
        {{/if}}

      </div>

      <!-- Lesson History -->
      <h2>Lesson History</h2>
      <p>If teacher has finished the lesson, it will be listed here.</p>
      <div class="row mb-4">
        {{#if finishedAppointments}}
        {{#each finishedAppointments}}
        <div class="col-md-6">
          <div class="border p-2 d-flex justify-content-between align-items-center mb-2">
            <img src="{{this.teacher.user.avatar}}" alt="avatar" class="rounded-circle" width="50" height="50">
            <div>
              <p class="mb-0">Teacher's name: {{this.teacher.user.name}}</p>
              <p class="mb-0">Date: {{this.date}}</p>
              <p class="mb-0">Times: {{this.startTime}} - {{this.endTime}}</p>
            </div>

            {{#ifReviewExists this.review}}
            <div>
              <p class="mb-0"><i class="fas fa-star text-warning"></i> {{../this.review.score}}</p>
            </div>
            {{else}}
            <button type="submit" class="btn btn-primary btn-sm" data-bs-toggle="modal"
              data-bs-target="#reviewModal-{{../this.id}}">Score</button>
            {{/ifReviewExists}}

          </div>
        </div>

        <!-- Review Modal -->
        <div class="modal" id="reviewModal-{{this.id}}" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border border-5 border-primary-subtle">
              <div class="modal-header border-bottom border-5 border-primary-subtle">
                <h4 class="modal-title">Share Your Experience of the Lesson</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body fs-4">
                <div>
                  <p class="mb-0">Teacher's name: {{this.teacher.user.name}}</p>
                  <p class="mb-0">Date: {{this.date}}</p>
                  <p class="mb-0">Times: {{this.startTime}} - {{this.endTime}}</p>
                </div>
              </div>
              <form action="/users/review" method="POST">
                <input type="hidden" name="appointmentId" value="{{this.id}}">

                <div class="p-3 mb-3">
                  <div class="ts-rating is-yellow is-input">
                    <p>Score :</p>
                    <label for="star1-{{this.id}}" title="1 star"></label>
                    <input class="star" type="radio" name="score" id="star1-{{this.id}}" value="1" />
                    <label for="star2-{{this.id}}" title="2 stars"></label>
                    <input class="star" type="radio" name="score" id="star2-{{this.id}}" value="2" />
                    <label for="star3-{{this.id}}" title="3 stars"></label>
                    <input class="star" type="radio" name="score" id="star3-{{this.id}}" value="3" />
                    <label for="star4-{{this.id}}" title="4 stars"></label>
                    <input class="star" type="radio" name="score" id="star4-{{this.id}}" value="4" />
                    <label for="star5-{{this.id}}" title="5 stars"></label>
                    <input class="star" type="radio" name="score" id="star5-{{this.id}}" value="5" />
                  </div>

                  <div class="mb-3">
                    <label for="message" class="form-label">Message:</label>
                    <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
                  </div>
                </div>


                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        {{/each}}
        {{/if}}
      </div>

      <!-- Study Hours Ranking -->
      <h2>My Study Hours Ranking</h2>
      <div class="border p-2">
        <p class="mb-0">Ranking:</p>
      </div>
    </div>
  </div>
</div>