{{> messages}}

<div class="col-md-8">
  <div class="mb-3 d-flex justify-content-between align-items-center">
    <h2>Your All Schedule</h2>

    {{!-- Back Button --}}
    <a href="/users/{{user.id}}" class="btn btn-primary">Back</a>

  </div>
  <p>Your all schedule will be shown here.</p>

  <div class="row mb-4">
    {{#if appointments}}
    {{#each appointments}}
    <div class="col-md-6 mb-3">
      <div class="border p-2 h-100">
        <p class="mb-0">Date: {{this.date}}</p>
        <p class="mb-0">Times: {{this.startTime}} - {{this.endTime}}</p>
        {{#if ../user.isTeacher}}
        <p class="mb-0">Student's Name: {{this.student.name}}</p>
        <p class="mb-0">Lesson Link:
          <a href="{{../user.teacher.videoLink}}">{{../user.teacher.videoLink}}</a>
        </p>
        {{else}}
        <p class="mb-0">Teacher's Name: {{this.teacher.user.name}}</p>
        {{#ifOrCond this.status 'pending' 'confirmed'}}
        <p class="mb-0">Lesson Link:
          <a href="{{../this.teacher.videoLink}}">{{../this.teacher.videoLink}}</a>
        </p>
        {{/ifOrCond}}

        {{/if}}

        {{> lesson-status appointment=this}}

        {{> appointment-button appointment=this user=../user}}

        {{!-- Review Area --}}
        {{#ifCond this.status 'finished'}}

        {{#ifReviewExists ../this.review}}
        <hr>
        <p class="mb-0">Review:</p>
        <p>{{../this.review.message}}</p>
        <div class="float-end">
          <p class="mb-2"><i class="fas fa-star text-warning"></i> {{../this.review.score}}</p>
        </div>
        {{else}} {{!-- If there is no review --}}
        {{#ifBooleanCond ../../user.isTeacher false}}
        <hr>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-outline-primary btn-sm mb-2 mt-2" data-bs-toggle="modal"
            data-bs-target="#reviewModal-{{../this.id}}">Score</button>
        </div>
        {{else}} {{!-- If the user is a teacher --}}
        <hr>
        <p>Waiting for the student to review.</p>
        {{/ifBooleanCond}}
        {{/ifReviewExists}}
        {{/ifCond}}

      </div>
    </div>

    <!-- Review Modal -->
    {{> review-modal appointment=this}}

    {{/each}}
    {{else}}
    <div class="col-md-6 mb-3">
      <div class="border p-2">
        <p class="mb-0">No schedule found.</p>
      </div>
    </div>
    {{/if}}
  </div>