{{> messages}}

<div class="container mt-5">
  <div class="row">
    {{!-- User Information --}}
    {{> profile-left-column}}

    <div class="col-md-8">
      <div class="mb-3 d-flex justify-content-between align-items-center">
        <h2>New Schedule</h2>
        <a href="/users/{{user.id}}/schedule" class="btn btn-secondary">See All Schedule</a>
      </div>

      <div class="row mb-4">
        {{#if appointments}}
        {{#each appointments}}
        <div class="col-md-6 mb-3">
          <div class="border p-2">
            <p class="mb-0">Date: {{this.date}}</p>
            <p class="mb-0">Times: {{this.startTime}} - {{this.endTime}}</p>
            <p class="mb-0">Student's Name: {{this.student.name}}</p>
            <p class="mb-0">Lesson Link:
              <a href="{{../user.teacher.videoLink}}">{{../user.teacher.videoLink}}</a>
            </p>
            <p class="mb-0">Lesson Status: {{this.status}}</p>
            <div class="d-flex justify-content-end">
              {{#ifCond this.status "pending"}}
              <form action="/users/appointments/{{this.id}}?_method=PUT" method="POST" class="me-2">
                <button class="btn btn-secondary btn-sm">Confirm</button>
              </form>
              {{/ifCond}}
              <form action="/users/appointments/{{this.id}}?_method=DELETE" method="POST">
                <button class="btn btn-danger btn-sm">Cancel</button>
              </form>
            </div>

          </div>
        </div>
        {{/each}}
        {{else}}
        <div class="col-md-6 mb-3">
          <div class="border p-2">
            <p class="mb-0">No schedule found.</p>
          </div>
        </div>
        {{/if}}
      </div>

      <!-- Teaching Style -->
      <h2 class="mb-3">Your Teaching Style</h2>
      <p class="mb-4">{{user.teacher.teachingStyle}}</p>

      <!-- Recent Reviewed -->
      <h2 class="mb-3">Recent Reviewed</h2>
      <div class="mb-3">
        <span class="badge bg-warning text-dark me-2">4.8</span>
        <div class="border p-3">
          <p class="mb-0">Message</p>
        </div>
      </div>
      <div class="mb-3">
        <span class="badge bg-warning text-dark me-2">4.8</span>
        <div class="border p-3">
          <p class="mb-0">Message</p>
        </div>
      </div>
    </div>
  </div>
</div>